@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

#headermainbox{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1200px;

  .logoimg{
    width: 230px;
//    border: 3px solid rgb(255, 255, 255);
    position: absolute;
    left: 75px;
    top: 10px;
    z-index: 11;
  }

  #headerulbox{
    width: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    .ulbox{
        width: 100%;
        display: flex;
        justify-content: left;
        padding-left: 300px;
        height: 100px;
        font-weight: bold;
        z-index: 10;
        background-color: black;

      .headerlitilte{
        width: 180px;
        font-size: 25px;
        color: white;
        line-height: 100px;
        }

        .buttonbox{
          min-width: 190px;
          height: 70px;
          margin: auto 75px auto auto;
          //border: 3px solid rgb(255, 255, 255);
          display: flex;
          justify-content: center;
          position: relative;

          .gogame{
            margin: auto 0;
            width: 160px;
            height: 40px;
            font-size: 1.3rem;
            color: white;
            border: 3px solid rgb(255, 255, 255);
            &:active{
              width: 155px;
              height: 35px;
            }
          }

          .buttonline1{
            width: 30px;
            height: 3px;
            top: 5px;
            left: 5px;
            position: absolute;
            background-color: #fff;
          }

          .buttonline2{
            width: 4px;
            height: 25px;
            top: 5px;
            left: 5px;
            position: absolute;
            background-color: #fff;
          }

          .buttonline3{
            width: 30px;
            height: 3px;
            bottom: 5px;
            right: 5px;
            position: absolute;
            background-color: #fff;
          }

          .buttonline4{
            width: 3px;
            height: 25px;
            bottom: 5px;
            right: 5px;
            position: absolute;
            background-color: #fff;
          }

          &:hover{
            .gogame{
            color: black;
            background-color: white;
            }
            .buttonline1{
              animation: buttonlinew 0.3s;
              animation-fill-mode: forwards;
            }
            .buttonline3{
              animation: buttonlinew 0.3s;
              animation-fill-mode: forwards;
            }
            .buttonline2{
              animation: buttonlineh 0.3s;
              animation-fill-mode: forwards;
            }
            .buttonline4{
              animation: buttonlineh 0.3s;
              animation-fill-mode: forwards;
            }
          }
        }

      }

    .libox{
      display: flex;
      width: 100%;
      display: none;
      justify-content: left;
      padding-left: 300px;
      position: absolute;
      z-index: 5;

      .tilteulbox{
        width: 180px;
        padding-top: 10px;
        padding-bottom: 10px;
        li{
          list-style: none;
          padding: 4px 0;
          font-size: 17px;
          color: rgb(129, 129, 129);
          .lilink{
            text-decoration: none;
          }
        }
      }
    }

    &:hover{
      .libox{
        animation: headerul 0.3s;
        animation-fill-mode: forwards;
        display: inline-flex;

        .lilink{
          color: white;
          animation: headerulcolor 0.3s;
          animation-fill-mode: forwards;
          &:hover{
            color: orange;

          }
        }

      }
    }

    }

}

@keyframes headerul{
	0%{
    background-color: rgba(211, 198, 198, 0);
    top: -100px;
  }
	100%{
    background-color: rgba(0, 0, 0, 0.918);
    top: 100px;
  }
	}

@keyframes headerulcolor{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  }

@keyframes buttonlinew{
  0%{
  }
  100%{
    width: 120px;
  }
  }
  @keyframes buttonlineh{
    0%{
    }
    100%{
      height: 35px;
    }
    }
