@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

#headermainbox{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1200px;

  .logoimg{
    width: 200px;
    border: 3px solid rgb(255, 255, 255);
    position: absolute;
    left: 75px;
    top: 10px;
    position: absolute;
    z-index: 11;
  }

  #headerulbox{
    width: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    .ulbox{
        width: 100%;
        display: flex;
        justify-content: left;
        padding-left: 300px;
        height: 100px;
        font-weight: bold;
        position: absolute;
        z-index: 10;
        background-color: black;

      .headerlitilte{
        width: 180px;
        font-size: 25px;
        color: white;
        line-height: 100px;
        }

      .gogame{
        width: 200px;
        height: 60px;
        color: white;
        border-radius: 10px;
        margin: auto 75px auto auto;
        border: 3px solid rgb(255, 255, 255);
        &:hover{
          color: black;
          background-color: white;
        }
      }

      }

    .libox{
      display: flex;
      width: 100%;
      display: none;
      justify-content: left;
      padding-left: 300px;
      position: absolute;
      z-index: 5;

      .tilteulbox{
        width: 180px;
        padding-top: 10px;
        padding-bottom: 10px;
        li{
          list-style: none;
          padding: 4px 0;
          font-size: 17px;
          color: rgb(129, 129, 129);
          .lilink{
            text-decoration: none;
          }
        }
      }
    }

    &:hover{
      .libox{
        animation: headerul 1s;
        animation-fill-mode: forwards;
        display: inline-flex;

        .lilink{
          color: white;
          animation: headerulcolor 1s;
          animation-fill-mode: forwards;
          &:hover{
            color: red;

          }
        }

      }
    }

    }

}

@keyframes headerul{
	0%{
    background-color: rgba(211, 198, 198, 0);
    top: -100px;
  }
	100%{
    background-color: rgba(94, 94, 94, 0.863);
    top: 100px;
  }
	}

    @keyframes headerulcolor{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
      }
