@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.fullfile{
//  border: 3px solid black;
  width: 430px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;


  .profilebox{
    border: 3px solid black;
    width: 430px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("@/assets/pageimg/city.png");
    background-size: 485px 350px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #fff;
//    background-color: black;

    .profile1{
//      border: 3px solid black;
      width: 120px;
      height: 100px;
      text-align: center;
      margin: auto;

    .profileimg{
      width: 100px;
      height: 100px;
      margin: 10px;
      background-color: white;
      border: 3px solid rgb(255, 255, 255);
    }

    }

    .profile2{
//      border: 3px solid black;
      width: 270px;
      height: 150px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: right;

      .userlink{
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 14px 10px 0 0;
        font-size: 15px;
        border-radius: 5px;
        background-color: black;
        color: white;
        border: 2px solid rgb(131, 131, 131)

      }

      .username{
        width: 100%;
        font-size: 30px;
        height: 30px;
        line-height: 24px;
        text-align: left;
        margin: 10px 0 0 20px;
        color: white;
      }

      .usertext{
        width: 100%;
        height: 20px;
        line-height: 10px;
        text-align: left;
        margin: 0 0 20px 20px;
        color: white;
      }


    }

    .profile3{
//      border: 3px solid black;
      width: 100%;
      height: 50px;
      margin: auto;
      color: white;
      font-size: 25px;

      .profilebutton{
        width: 30%;
        height: 100%;
        margin: 0 auto;

        .linkpage{
          text-decoration: none;
          color: white;
        }

        &:hover{
          animation: buttonline 0.5s;
          animation-fill-mode: forwards;
        }

      }
    }

  }


  .profile4{
    width: 430px;
    height: 335px;
    border: 3px solid black;
    background-color: #fff;
  }

  .profile5{
    width: 430px;
    height: 335px;
    border: 3px solid black;
    background-color: #fff;
  }
}

@keyframes buttonline{
  0%{
    border-bottom: 3px solid rgb(0, 0, 0);
  }
  100%{
    border-bottom: 3px solid white;
  }
  }
