.profilebox{
  width: 250px;
  height: 250px;
  border: 3px solid black;
  float: right;

  .profileimg{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    float: right;
    margin: 15px;
  }


}
